<!--Container to inject the Okta Sign-In Widget-->
<div class="pt-5">

  <div align="center" class="alert alert-warning col-md-12" role="alert">


    <p>Please be aware the this is just a testing application. So, using personal information as email or password is not recommended</p>

    <p>If you want to log in and test all of the functionalities like CRUD, you can use</p>

    <p>Username: abnertorres58@yahoo.com</p>
    <p>Password: passwordfredsshop</p>


  </div>

  <div id="okta-sign-in-widget" class="pt-5"></div>

</div>
