<!--Container to inject the Okta Sign-In Widget-->
<div class="sign-in-container">



  <div id="okta-sign-in-widget" class="pt-5">

      <div align="center" class="alert alert-warning col-md-12" role="alert">

        <h3>Please be aware that this is just an application prototype!!!</h3>

        <p>Under any circumstance use sensitive data as a personal email, etc</p>

        <p><b>Use Only</b></p>

        <p><b>Username:</b> abnertorres58@yahoo.com </p>

        <p><b>Password:</b>passwordfredsshop</p>


      </div>


  </div>
</div>
